@media only screen and (max-width: 767.9px){
    [class*="ordersTable"]{
        display: none !important;
        font-size: 9px !important;
    }
    
    [class*="ordersTableBtns"]{
        display: none;
    }
}