@media only screen and (max-width: 767.9px){
    [class*="cartArea"]{
        width: 100% !important;
        border-bottom: 1px solid lightgray !important;
    }
    
    [class*="cartItems"]{
        width: 90% !important;
        margin-left: 0 !important ;
        margin-right: 0 !important;
        border-bottom: 1px solid lightgray !important;
    }
    [class*="cartCalculator"]{
        width:90% !important;
        margin-left: 0px !important;
        margin-top: 40px !important;
        text-align: left;
    }
    [class*="shippingLocation"]{
        display:  inline-flex !important;
    }
    [class*="outsideSylhet"]{
        margin-top: 10px !important;
    }
}
@media only screen and (min-width: 768px){
    [class*="cartArea"]{
        width: 100% !important;
        display: flex;
    }
    
    [class*="cartItems"]{
        width: 55% !important;
        margin-left: 0 !important ;
        margin-right: 0 !important;
        border-right: 1px solid lightgray !important;
    }
    [class*="cartCalculator"]{
        width:45% !important;
        margin-left: 0px !important;
        margin-top: 40px !important;
        text-align: left;
    }
    [class*="shippingLocation"]{
        display:  inline-flex !important;
    }
    [class*="outsideSylhet"]{
        margin-top: 10px !important;
    }
    
}
@media only screen and (min-width: 992px){
    [class*="cartArea"]{
        width: 100% !important;
        display: flex;
    }
    
    [class*="cartItems"]{
        width: 55% !important;
        margin-left: 0 !important ;
        margin-right: 0 !important;
        border-right: 1px solid lightgray !important;
    }
    [class*="cartCalculator"]{
        width:45% !important;
        margin-left: 0px !important;
        margin-top: 40px !important;
        text-align: left;
    }
    [class*="shippingLocation"]{
        display:  inline-flex !important;
    }
}