@media only screen and (max-width: 767.9px){
    [class*="productDescription"]{
        width: 100% !important;
        font-size: 13px;
    }
    [class*="productDescription"] h2{
        font-size: 17px;
    }
    [class*="productImg"]{
        width: 350px !important;
    }
}
@media only screen and (min-width: 768px) {

    

    [class*="productDetails"]{
        width: 100% !important;
        font-size: 13px;
        display: flex !important;
    }
    [class*="productDescription"]{
        width: 50% !important;
        font-size: 13px;
        display: inline-block !important;

    }
    [class*="productDescription"] h2{
        font-size: 17px;
    }
    [class*="productBanner"]{
        width: 50% !important;
    }

    [class*="productImg"]{
        width: 350px !important;
        height: 350px !important;
    }
    


}
@media only screen and (min-width: 992px) {
    [class*="productDetails"]{
        width: 100% !important;
        
        display: flex !important;
    }
    [class*="productDescription"]{
        width: 50% !important;
        font-size: 17px;
        display: inline-block !important;

    }
    [class*="productDescription"] h2{
        font-size: 23px;
    }
    [class*="productBanner"]{
        width: 50% !important;
    }

    [class*="productImg"]{
        width: 450px !important;
        height: 450px !important;
    }
}