footer{

    border-radius: 5px;
}

a:hover{
    color: lightgray !important;
}

.sm{
    margin-left:35px !important;
}

@media only screen and (max-width: 767.9px) {
    [class*="footerContainer"] {
        width: 100%; 
        
    }
    [class*="companyLogo"] img {
        max-height: 170px;
        max-width: 170px;
        margin-left: 42px; 
        
    }
    [class*="followSection"] h3{
        font-size: 20px;
      }
      [class*="followSection"] {
          font-size: small;
          margin-left:26px !important;
       }
       [class*="contactSection"] {
        font-size: small;
        margin-left: 40px !important;
        
     }
     [class*="contactSection"] h3 {
         font-size: 20px;
        }
        [class*="copyrightSection"]{
            font-size: small;
           }
}


@media only screen and (min-width: 768px) {
    [class*="companyLogo"] img {
        max-height: 130px;
        max-width: 130px;
        margin-top: 60px !important;
       
        }
        [class*="footerContainer"] {
            margin-right: 0;
        }
        [class*="followSection"]{
            margin-left: 0px !important;
            margin-right: 15px !important;
          
            display: inline-block;
        }
        [class*="contactSection"]{
            margin-left: 40px !important;
            margin-right: 20px !important;
        }
        
}

@media only screen and (min-width: 992px) {
    [class*="companyLogo"] img {
        max-height: 250px;
        max-width: 250px;
        margin-right: 50px;
        margin-left: 20px;
        margin-top: 30px;
        
    }
    [class*="footerContainer"] {
        margin-right: auto;
    }
    [class*="followSection"]{
        margin-left: 70px !important;
        margin-right: 90px !important;
    }
}
