.page-item.active .page-link{
    z-index: 0;
    color: #fff !important;
    background-color: #d44040 !important;
    border-color:  #d44040 !important;
}

@media only screen and (max-width: 767.9px){
    [class*="col-md-10"]{
        display: none !important;
        font-size: 9px !important;
        text-align: none;
        margin-right: 0 !important;
    }
    [class*="blogsBtn"]{
        display: none !important;
    }
}

@media only screen and (min-width: 992px){
    [class*="blogsTable"]{
        text-align: none;
    }
    [class*="blogsBtn"]{
        display: none !important;
    }
}